* {
  font-family: "Lucida Console", Monaco, monospace;
  border-radius: 20px;
}

html {
  background-color: rgb(30, 30, 30);
}

div.top_bar {
  border-left: thick solid  rgb(255, 145, 0);
  border-right: thick solid  rgb(255, 145, 0);
  background-color:black;
  opacity: 0.75;
  color: rgb(0, 255, 0);
  font-size: x-large;
  padding: 10px;
}

p {
  color: rgb(0, 255, 0);
  padding-left: 60px;
}

ol {
  color: green;
  list-style: disc outside rgb(255, 145, 0);
  padding-left: 75px;
}

h1, h2, h3 {
  background-color: black;
  color: green;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-left: thick solid green;
  border-right: thick solid green;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: large;
}

ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: red;
  font-weight: bold;
  border-left: thick solid red;
  padding-left: 10px;
}

a {
  color: rgb(255, 145, 0);
}

header, footer {
  color: rgb(0, 255, 0);
  font-size: smaller;
  border-left: thick solid rgb(0, 255, 0);
  border-right: thick solid rgb(0, 255, 0);
  background-color: black;
  padding: 20px;
}

form {
  margin: 30px;
  color: green;
  border: thick solid;
  background-color: black;
  opacity: 0.75;
  padding: 30px;
}

.right {
  position: absolute;
  right: 20px;
  color: rgb(0, 255, 0);
}

input {
  color: rgb(255, 145, 0);
  background-color: black;
  border: thin ridge rgb(0, 255, 0);
  opacity: 1.0;
  padding: 10px;
}

input[type=checkbox] {
  color: aqua;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  font-size: medium;
}
