dy {
    background-color: royalblue;
    font-family: "Helvetica", sans-serif;
    color: black;
  }
h1 {
  background-color: rgb(245, 237, 191);
  color: black;
}
ol {
  background-color: rgba(168, 152, 152, 0.300);
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0)
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
a {
  color: rgb(0, 0, 255)
}  
/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: white;
}
th, td {
  vertical-align: right;
  padding: 10px;
  text-align: right;
}
th {
  color: black;
}
td {
  color: black;
}
section {
  background-color: silver;
}
