<p>Dear {{ user.username }},</p>
<p>
    A password reset request has been sent to this email,
    please follow <a href="{{ url_for('reset_password', token=token, _external=True) }}">this link</a> to securely reset your password.
</p>
<p>Otherwise paste this link into your browser.</p>
<p>{ url_for('reset_password', token=token, _external=True) }</p>
<br/>
<p>You must use this link within 10 minutes of receiving it otherwise it will no longer be active.</p>
<br/>
<p>
    Sincerely,<br/>
    Roman's Website
</p>
