{% extends "base.html" %}

{% block content %}
    <p>This is super embarassing, but our server screwed something up and this page doesn't work right now.</p>
    <p>Try again later or maybe go back to the <a href="{{ url_for('index') }}">home page</a>.</p>
    <!-- Copied directly from Giphy.com's embed feature -->
    <iframe src="https://giphy.com/embed/3ohs7Ys9J8XyFVheg0" width="480" height="438" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>
        <a href="https://giphy.com/gifs/sorry-alan-the-hangover-3ohs7Ys9J8XyFVheg0">via GIPHY</a>
    </p>
{% endblock %}
