{% extends "base.html" %}

{% block content %}
    <p>This is super embarassing, but our server screwed something up and this page doesn't work right now.</p>
    <p>Try again later or maybe go back to the <a href="{{ url_for('index') }}">home page</a>.</p>
    <iframe src="https://giphy.com/embed/Rkis28kMJd1aE" width="480" height="317" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>
        <a href="https://giphy.com/gifs/angry-broken-computers-Rkis28kMJd1aE">via GIPHY</a>
    </p>
{% endblock %}
