<!DOCTYPE html>
<html>
    <!-- This is the navigation bar -->
    <div class="top_bar">
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Secret Page</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        <a href="{{ url_for('game') }}">Play a game?</a>
        <a class="right">Roman's site</a>
    </div>
    <!-- This part appears on the browser tab -->
	<head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Roman's Home Website</title>
        {% endif %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
		<meta charset="utf-8"/>
	</head>
	<body>
        <!-- This part appears just below the navigation bar but before the big bold <h1> in the template -->
        {% if header %}
            <header>{{ header }}</header>
        {% else %}
            <header><a href="https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/">Kubernetes</a>-based Webserver hosted on my own in-home cluster.</header>
        {% endif %}
        <!--
            If any messages are flashed throughout
            the routes.py or any other part of the
            python code, they will be inserted here
            by any pages that inherit this base
            template
        -->
        <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </hr>
        <!-- 
            This portion of the code is where the
            other templates insert themselves if
            they inherit this file
        -->
        <main>
            {% block content %}{% endblock %}
        </main>

        <!-- If there is a footer it will be filled in, otherwise it just promises i will add more -->
        {% if footer %}
            <footer>{{ footer | safe }}</footer>
        {% else %}
            <footer>I will add more as I have more.</footer>
        {% endif %}
	</body>
</html>
