<!DOCTYPE html>
<html>
    <div>Roman's site
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
	<head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Roman's Raspberry Pi</title>
        {% endif %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
		<meta charset="utf-8"/>
	</head>
	<body>
        {% if header %}
            <header>{{ header }}</header>
        {% else %}
            <header>Apache Webserve hosted on RaspberryPi Model 2 B+</header>
        {% endif %}
        <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </hr>
        <main>
            {% block content %}{% endblock %}
        </main>
        {% if footer %}
            <footer>{{ footer }}</footer>
        {% else %}
            <footer>I will add more as I have more</footer>
        {% endif %}
	</body>
</html>
