<!DOCTYPE html>
<html>
    <div>Roman's site
        <a href="/index">Home</a>
        <a href="/login">Login</a>
    </div>
	<head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Roman's Raspberry Pi</title>
        {% endif %}
		<link type="text/css" rel="stylesheet" href="style.css"/>
		<meta charset="utf-8"/>
	</head>
	<body>
        {% if header %}
            <header>{{ header }}</header>
        {% else %}
            <header>Apache Webserve hosted on RaspberryPi Model 2 B+</header>
        {% endif %}
    <main>
        {% block content %}{% endblock %}
	</main>
        {% if footer %}
            <footer>{{ footer }}</footer>
        {% else %}
            <footer>I will add more as I have more</footer>
        {% endif %}
	</body>
</html>
