{% extends "base.html" %}

{% block content %}
<section>
<h1>Learning Apache and NGINX</h1>

    <p>Ask me what other fun things I am learning or working on.</p>

    {% if list_of_things %}
        {% for element in list_of_things %}
            <ol>{{ element }}</ol>
        {% endfor %}
    {% else %}
        <ol>Nothing to report!</ol>
    {% endif %}

<h2>I started a store on threadless.com!</h2>
    <a href="https://littlebits.threadless.com">my threadless site</a>

    <h2>Check Me Out on GitHub as well</h2>
    <a href="https://github.com/Romanmc72">my github repos</a>

    <p>(not much there at this point)</p> 
{% endblock %}
