{% extends "base.html" %}

{% block content %}
<section>
<h1>
    Hey {{ current_user.username }},
        I am Learning Flask
</h1>

    <p>Ask me what other fun things I am learning or working on.</p>

    {% if list_of_things %}
        {% for element in list_of_things %}
            <ol>{{ element }}</ol>
        {% endfor %}
    {% else %}
        <ol>Nothing to report!</ol>
    {% endif %}

    <p>
        Learn to build websites in Python's Flask library through
        <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world"> this comprehensive tutorial </a>
        by Miguel Grinberg.
    </p>
<h2>I started a store on <a href="https://littlebits.threadless.com">threadless.com</a>!</h2>
<h2>Check Me Out on <a href="https://github.com/Romanmc72">GitHub</a> as well</h2>
{% endblock %}
