{% extends "base.html" %}

{% block content %}

<h1>User: {{ user.username }}</h1>
    <p>
        Hello {{ user.username }},

            Use this page to check your personal stats. Play more of the game to boost your stats!
    </p>

<div class="row">
    <div class="column">
        <h2>Here are your 10 best scores</h1>
        <table class="scoreboard">
            <tr>
                <th>Points</th>
                <th>Date</th>
            </tr>
            {% for score in scores %}
            <tr>
                <td>{{ score.score }}</td>
                <td class="utcdate">{{ score.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <h2>Here are your overall stats</h1>
        <table class="scoreboard">
            <tr>
                <th>Average Score</th>
                <th>Total Seconds Played</th>
                <th>Games Played</th>
            </tr>
            <tr>
                <td>{{ stats.average_score }}</td>
                <td>{{ stats.seconds_played }}</td>
                <td>{{ stats.games_played }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
